{% extends "home.html" %}

{% block content %}
<div>
    <div class="container text-center">
        <br>
            <h3>Accept/Deny Users</h3>
        <hr>
        <br>
        {% if users|length %}
        <div class="table-responsive">
        <table class="table">
            <thread>
                <tr>
                  <th>Email</th>
                  <th>Name</th>
                  <th>Department Code</th>
                  <th>Privilege Requested</th>
                  <th></th>
                  <th></th>
                </tr>
            </thread>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.department }}</td>
                    {% if user.privileges == 0 %}
                        <td>Customer</td>
                    {% elif user.privileges == 1 %}
                        <td>Privileged Customer</td>
                    {% elif user.privileges == 2 %}
                        <td>Staff</td>
                    {% else %}
                        <td>Admin</td>
                    {% endif %}
                    <td><form method="post" action="/admin/accept/{{user.id}}">
						    <button class = "greenButton" type="submit"><i class="fas fa-check-circle" style="margin-right: 5px;"></i>Accept</button>
					    </form></td>
                    <td><form method = "post" action="/admin/deny/{{user.id}}">
                            <button class = "redButton" type="submit"><i class="fas fa-times-circle" style="margin-right: 5px;"></i>Deny</button>
                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <h4>No new user requests</h4>
        <br>
        <br>
		<a class="adminButton" href="/admin"><i class="fas fa-chevron-circle-left" style="margin-right: 5px;"></i>Admin Area </a> 
	{% endif %}
</div>
    <div/>
{% endblock %}