{% extends "home.html" %}

{% block content %}
<div>
    <div class="container text-center">
        <br>
            <h2>Accept/Deny Users</h2>
        <br>
        <br>
        <table>
            <thread>
                <tr>
                  <th>ID</th>
                  <th>Email</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Department Code</th>
                  <th>Permissions Requested</th>
                </tr>
            </thread>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.department }}</td>
                    <td>{{ user.privileges }}</td>
                    <td><button onclick= accept(user)>Accept</button>
                        <button onclick= deny(user)>Deny</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>

<script>
function deny(user) {
            newUsers.splice(indice, 1);
    }
</script>
{% endblock %}