{% extends "home.html" %}

{% block content %}
<div>
    <div class="container text-center">
        <br>
            <h2>Accept/Deny Users</h2>
        <br>
        <br>
        <table>
            <thread>
                <tr>
                  <th>Email</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Permissions Requested</th>
                  <th></th>
                </tr>
            </thread>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button>Accept</button>
            <button>Deny</button></td>
            
            <!-- {% for user in newUsers %}
                <tr>
                    <td>{{ user.get_email() }}</td>
                    <td>{{ user.get_firstName() }}</td>
                    <td>{{ user.get_lastName() }}</td>
                    <td>{{ item.get_perms() }}</td>
                </tr>
            {% endfor %} -->
        </table>
</div>
{% endblock %}