<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Edit Inventory - Add Item</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="static/style.css" rel="stylesheet">
</head>

<body onload="createTable()">

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="addItemToBasket.html"><img src="img/logo.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="addItemToBasket.html">Home</a>
			</li>
			<li class="nav-item">
                <a class="nav-link" href="adminArea.html">Admin Area</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="viewBasket.html">View Basket</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="returnItems.html">Return Item</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="loginOrRegisterAccount.html">Logout</a>
			</li>
		</ul>
	</div>
	</div>
</nav>

<div class="container text-center">
    <br>
    <h2>Add Item to Basket</h2>
    <br>
	<br>
    <button id="addRow" class="addButton" onclick="addRow()"> Add Item </button> 

    <!--THE CONTAINER WHERE WE'll ADD THE DYNAMIC TABLE-->
    <div id="cont" class="text-center"></div>
    <br>
    <br>

    <input type="button" id="bt" value="Confirm Items" onclick="submit()" />
    </div>
</body>

<script type="text/javascript" src="addItemToBasket.js"></script>

</html>