{% extends "home.html" %}

{% block content %}


<div class="container text-center">
    <br>
    <h3><ul>Add New Product To Stock</ul></h3>
    <br>
	<br>
	
	<form action="/admin/stock" method="GET">
		<div class="form-group">
		  <label>Product ID:</label>
		  <input type="text" class="form-control" placeholder="Enter product ID" name="productId">
		</div>
		<div class="form-group">
		  <label>Product Name:</label>
		  <input type="text" class="form-control" placeholder="Enter product name" name="productName">
		</div>
		<div class="form-group">
			<label>Quantity:</label>
			<input type="number" class="form-control" placeholder="Enter quantity" name="quantity">
		  </div>
		  <div class="form-group">
			<label>Risk Item:</label>
			<input type="text" class="form-control" placeholder="Enter yes/no" name="riskItem">
		  </div>
		
		  <button type="submit" class="btn btn-default">Add To Inventory</button>
	</form>
    </div>
</body>
{% endblock %}