{% extends "home.html" %}

{% block content %}
<div>
    {% for message in get_flashed_messages() %}
    <div class="container">
        {% if 'Success' in message %}
            <div class="alert alert-success">
        {% else %}
            <div class="alert alert-danger">
        {% endif %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="container text-center">
        <br>
            <h3>Add Items to Basket</h3>
        <hr>
        <br>
        <button id="addRow" class="greenButton addButton" onclick="addRow()"><i class="fas fa-plus-circle" style="margin-right: 5px;"></i>Add Item </button> 
        <button id="scanRow" class="greenButton addButton" onclick="openNav()"><i class="fas fa-barcode" style="margin-right: 5px;"></i>Scan Item </button>
        <!-- <form id="add-item-form" method="post" action="/basket/add"> -->
        <form id="add-item-form" action="/basket/add" method="post">
            <div id="cont" class="text-center"></div>
            <br>
            <br>
            <button type="submit" class="greenButton" onclick="submit()" href="/add-item">Confirm Items<i class="fas fa-long-arrow-alt-right" style="margin-left: 5px;"></i></button>
        </form>
        <!-- The overlay -->
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content" id="scanArea">
  </div>

</div>

</div>

    <script type="text/javascript">
    createTable();


        Quagga.onDetected(function (data){
            var result = data;
            var code = result['codeResult']['code'];
            addRow(code);
            closeNav();
    });

/* Open when someone clicks on the span element */
function openNav() {
  document.getElementById("myNav").style.width = "100%";

        Quagga.init({
        inputStream : {
          name : "Live",
          type : "LiveStream",
          target: document.querySelector('#scanArea')    // Or '#yourElement' (optional)
        },
        decoder : {
          readers : ['code_128_reader']
        }
        }, function(err) {
          if (err) {
              console.log(err);
              return
          }
          console.log("Initialization finished. Ready to start");
          Quagga.start();
        });
}

/* Close when someone clicks on the "x" symbol inside the overlay */
function closeNav() {
  Quagga.stop();
  document.getElementById("myNav").style.width = "0%";
}
    </script>
</div>
{% endblock %}