{% extends "home.html" %}

{% block content %}


<div class="container text-center">
    <br>
    <h3><ul>Add New Item To Stock</ul></h3>
    <br>
	
	<form action="/admin/stock" method="GET">
		<div class="form-group">
		  <label>Item Code:</label>
		  <input type="text" class="form-control inputShadowBox" placeholder="Enter item code" name="productId" required>
		</div>
		<div class="form-group">
		  <label>Item Name:</label>
		  <input type="text" class="form-control inputShadowBox" placeholder="Enter item name" name="productName" required>
		</div>
		<div class="form-group">
			<label>Quantity:</label>
			<input type="number" class="form-control inputShadowBox" placeholder="Enter quantity" name="quantity" required>
		  </div>
		  <label>Unit Type:</label>
		  <select name="departmentCode" id="department_Code" class="select-box" required>
			<option value="">Select One</option>
			<option value="Item(s)" >Item(s)</option>
			<option value="Box(es)" >Box(es)</option>
			<option value="Litre(s)" >Litre(s)</option>
			<option value="Bag(s)" >Bag(s)</option>
			<option value="Gram(s)" >Gram(s)</option>
			<option value="Kilogram(s)" >Kilogram(s)</option>
		  </select>  
		  <div class="form-group">
			<label>Risk Item:</label>
			<input type="text" class="form-control inputShadowBox" placeholder="Enter yes/no" name="riskItem">
			<br>
		  </div>
		
		  <button type="submit" class="greenButton" value="submit">Add To Inventory</button>
		  <br>
		  <br>
	</form>
</div>
{% endblock %}