{% extends "home.html" %}
{% block content %}

<div class="container text-center">
	{% for message in get_flashed_messages() %}
        <div class="container">
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
		</div>
	</div>
    {% endfor %}
    <br>
    <h3>Add New Item To Stock</h3>
    <br>
	<form action="/api/items/add" method="POST">
		<div class="form-group">
		  <label>Item Code:</label>
		  <input type="text" class="form-control inputShadowBox" placeholder="Enter item code" name="code" required>
		</div>
		<div class="form-group">
		  <label>Item Name:</label>
		  <input type="text" class="form-control inputShadowBox" placeholder="Enter item name" name="name" required>
		</div>
		<div class="form-group">
			<label>Quantity:</label>
			<input type="number" class="form-control inputShadowBox" placeholder="Enter quantity" name="quantity" required>
		  </div>
		  <div class="form-group">
			<label>Price Per Item:</label>
			<input type="number" class="form-control inputShadowBox" placeholder="Enter price per item" name="price" required>
		  </div>
		  <div class="form-group">
			<label>Minimum Threshold:</label>
			<input type="number" class="form-control inputShadowBox" placeholder="Enter the min stock level this item should have" name="threshold" required>
		  </div>
		  <div class="form-group">
			  <br>
			<label>Risk Item:</label>
			<br>
			<input type="radio" name="risk" value="1"> True
			<input type="radio" name="risk" value="0" checked> False
		  </div>
		  <div class="form-group">
			<br>
		  <label>Automatic Purchase Order:</label>
		  <br>
		  <input type="radio" name="purchase" value="1"> Yes
		  <input type="radio" name="purchase" value="0" checked> No
		</div>
		  <br>
		  <button type="submit" class="greenButton">Add To Inventory</button>
		  <br>
		  <br>
	</form>
</div>
		
{% endblock %}