{% extends "home.html" %}

{% block content %}
<div>

    <div class="container text-center">
        <br>
            <h3>Add Items to Basket</h3>
        <hr>
        <br>
        <button id="addRow" class="greenButton addButton" onclick="addRow()"><i class="fas fa-plus-circle" style="margin-right: 5px;"></i>Add Item </button> 

        <!-- <form id="add-item-form" method="post" action="/basket/add"> -->
        <form id="add-item-form" method="post" action="/basket/add">
            <div id="cont" class="text-center"></div>
            <br>
            <br>
            <button class="editButton" type="submit" onclick="submit()">Confirm Items<i class="fas fa-long-arrow-alt-right" style="margin-left: 5px;"></i></button>
        </form>
    </div>

    <script type="text/javascript">
        createTable();
    </script>
</div>
{% endblock %}