<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Area</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="{{ url_for('static', filename='style.css')}}" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/logo.png')}}">
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  
</head>
<body>

    <!-- <div id="nav-placeholder"></div>   -->

     <!-- collapsable nav bar with icon -->
 <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="addItemToBasket.html"><img src="{{ url_for('static', filename='img/logo.png')}}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id='home'>
                    <a class="nav-link" href="addItemToBasket.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="adminArea.html">Admin Area</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="viewBasket.html">View Basket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="returnItems.html">Return Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="loginOrRegisterAccount.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>

    <div class="container text-center">
        <h2>Admin Area</h2>
        <br>
        <ul class="list-group">
            <br>
            <a href="generateReport.html" class="adminAreaButton">View Orders & Generate Report</a>
            <br>
            <br>
            <a href="" class="adminAreaButton">Generate Purchase Order</a>
            <br>
            <br>
            <a href="" class="adminAreaButton">View Stock</a>
            <br>
            <br>
            <a href="addItemToInventory.html" class="adminAreaButton">Add Product To Stock</a>
            <br>
            <br>
            <a href="removeItemFromInventory.html" class="adminAreaButton">Remove Product From Stock</a>
        </ul>
    </div>
<!-- 
    TRIED TO GET NAVBAR IN SEPARATE FILE BUT BEEN BLOCKED WILL COME BACK TO IT -->
<!-- 
    <script>
        $(function(){
          $("#nav-placeholder").load("navbar.html");
        });
        </script> -->
</body>
</html>