{% extends "home.html" %}

{% block content %}
<br>
<div class="container text-center">
    <h3>Admin Area</h3>
    <br>
    <ul class="list-group">
    <a href="/admin/transactions" class="adminAreaButton">View Orders & Generate Report</a>
    {% if session['privilege'] in [2,3] %}
        <br>
        <br>
        <a href="/admin/purchase-order" class="adminAreaButton">Purchase Orders</a>
    {% endif %}
    <br>
    <br>
    <a href="/admin/stock" class="adminAreaButton">Edit and add stock</a>
    <br>
    <br>
    <a href="/admin/return" class="adminAreaButton">Return Items</a>
    <br>
    <br>
    <a href="/admin/accept-users" class="adminAreaButton">Accept/Deny Users</a>
    </ul>
</div>
{% endblock %}