<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NTU Inventory Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="{{ url_for('static', filename='style.css')}}" type="text/css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand"><img src="{{ url_for('static', filename='img/logo.png')}}"></a>
        <div class=" navbar-collapse text-center">
        <h4>Inventory Management</h4>
        </div>
      </div>
    </nav>
      <div class="form-box">
          <div class="button-box">
              <div id="btn"></div>
              <button type="button" class="toggle-btn" onclick="login()"> Login </button>
              <button type="button" class="toggle-btn" onclick="register()"> Register </button>
          </div>

  <!-- LOGIN FORM -->
          <form id="login" method="post" class="input-group" action="/auth/login">
            <input name="email" type="email" class="input-field" id="loginEmail" placeholder="Email" required>
            <input name="password" type="password" class="input-field" id="loginPassword" placeholder="Password" required>
            <button type="submit" onclick="" class="submit-btn">Login</button>
          </form>

  <!-- REGISTER FORM -->
          <form id="register" method="post" class="input-group" action="/auth/register">
            <input name = regFirstname type="text" class="input-field" id="regFirstname" placeholder="First Name" required>
            <input name = regLastname type="text" class="input-field" id="regLastname" placeholder="Last Name" required>
            <input name = regEmail type="email" class="input-field" id="regEmail" placeholder="Email" required>
            <input name = regPassword type="password" class="input-field" id="regPassword" placeholder="Password" required>
        
            <fieldset>
              <br>
              <p>Which account type?</p>
              <input type="radio" id="account_Customer" value="0" name="accountType" class="radio-btn" checked> Customer
              <input type="radio" id="account_Staff" value="2" name="accountType" class="radio-btn"> Shop Staff
            </fieldset>
        
            <label>Department Code</label>
            <select name = "departmentCode" id="department_Code" class="select-box" required>
              <option value="">Select One</option>
              <option value="11111" >Computer Science</option>
              <option value="22222" >English</option>
              <option value="33333" >Maths</option>
            </select>
        
            <button type="submit" class="submit-btn">Register</button>
          </form>
      </div>

      <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register() {
          x.style.left = "-400px";
          y.style.left = "50px";
          z.style.left = "110px";
        }
        function login() {
          x.style.left = "50px";
          y.style.left = "450px";
          z.style.left = "0px";
        }
      </script>
  </body>
</html>