{% extends "home.html" %}

{% block content %}
<div class="container text-center">
	<br>
    <h3>Generate Report</h3>
	<br>

	
<div class="form-inline">
	<select class="departments dropdownGenerateReport">
		<option>Select a Department</option>
	</select>

	<select class="dropdownGenerateReport dateFilter">
		<option>Select a Month</option>
		<option>January</option>
		<option>February</option>
		<option>March</option>
		<option>April</option>
		<option>May</option>
		<option>June</option>
		<option>July</option>
		<option>August</option>
		<option>September</option>
		<option>October</option>
		<option>November</option>
		<option>December</option>
	</select>
</div>
  
<br><br>

<div id="DateHolder"> </div> 
  <table class="table">
	  <thread>
		  <tr>
			<th>Date Of Sale</th>
			<th>Product Code</th>
			<th>Product Name</th>
			<th>Department Code</th>
			<th>Department Name</th>
            <th>Quantity Sold</th>  
		  </tr>
	  </thread>

	  <tbody id="reportData"></tbody>

  </table>


  <br>
  <button onclick="Export(reportData)">Export Report</button>


  <script>
  
	window.onload = () => {
		loadTableData(departments);
		date();
	};
	
	function loadTableData(departments) {
		const tableBody = document.getElementById('reportData');
		let dataHtml = '';
	
		for(let basket of departments) {
			dataHtml += `<tr><td>${basket.Date}</td><td>${basket.ProductCode}</td><td>${basket.ProductName}</td><td>${basket.DepartmentCode}</td><td>${basket.DepartmentName}</td><td>${basket.Sold} ${basket.Units}</td></tr>`;
		}
		tableBody.innerHTML = dataHtml;
	}
  
	function date() {
	  n =  new Date();
	  y = n.getFullYear();
	  m = n.getMonth() + 1;
	  d = n.getDate();
	  document.getElementById('DateHolder').innerHTML='Date range: ' + d + "/" + m + "/" + y + "- " + d + "/" + m + "/" + y;
	}

	var $dateFilter = $('.dateFilter');

	$dateFilter.on('change', function () {
		var month = $dateFilter.val();

		var results = month.filter(function(item) {
			return DepartmentName;
		}
	)
	});

</script>

{% endblock %}