<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NTU Inventory Management</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='addItemToBasket.js')}}"></script>
        <link href="{{ url_for('static', filename='style.css')}}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home"><img src="{{url_for('static', filename='img/logo.png')}}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% block nav %}
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% if 'home' in request.url_rule.rule %}
                        <li class="nav-item active">
                        {% else %}
                        <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        {% if 'session' in session %}
                            {% if 'admin' in request.url_rule.rule %}
                            <li class="nav-item active">
                            {% else %}
                            <li class="nav-item">
                            {% endif %}
                                <a class="nav-link" href="/admin">Admin Area</a>
                            </li>
                        {% endif %}
                        {% if 'basket' in request.url_rule.rule %}
                        <li class="nav-item active">
                        {% else %}
                        <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="/basket">View Basket</a>
                        </li>
                        {% if 'basket' in request.url_rule.rule %}
                        <li class="nav-item active">
                        {% else %}
                        <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="/return">Return Item</a>
                        </li>
                        {% if 'auth/logout' in request.url_rule.rule %}
                        <li class="nav-item active">
                        {% else %}
                        <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="/auth/logout">Logout</a>
                        </li>
                    </ul>
                </div>
                {% endblock nav %}
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>