{% extends "home.html" %}
{% block content %}
<div class="container text-center">
    <br>
    <h3>Return Items</h3>
    <br>
        <input type="text" placeholder="Enter Email..." class="inputShadowBox" style="width: 40%; float:left">
        <button id="submitEmail" class="greenButton" style="float:left; margin-left: 10px">Submit</button>
    <br>
    <br>

    <th class="table-responsive">
        <table class="table">
            <thread>
                <tr>
                <th>Product Code</th>
                <th>Specify Quantity</th>
                <th>Return</th>
                <th>Broken Item</th>
                </tr>
            </thread>
            {% for item in items %}
            <form action="/api/nathan">
            <tr>
                <td><input name="productCodes[]" value="{{item.get_code()}}">{{item.get_code()}}</input></td>
                <td>{{item.get_quantity()}}</td>
                <td>Return</td>
                <td>Broken Item</td>
                </tr>
            
            {% endfor %}
        </table>
        <button id="submitForm" type="submit">button</button>
        </form>
        
    </th>
</div>
{% endblock %}