{% extends "home.html" %}

{% block content %}

<div class="container text-center">
	<br>
	<h3>Receipt</h3>
	<br>
	{% if basket|length %}
		<div class="table-responsive">
		<table class="table">
		<thread>
			<tr>
				<th>Item Code</th>
				<th>Item Name</th>
				<th>Price Per Item</th>
				<th>Unit Type</th>
				<th>Quantity</th>  
			</tr>
		</thread>
		<tbody id="BasketData2">
		{% for item in basket %}
			<tr>
				<td>{{item.code}}</td>
				<td>{{item.name}}</td>
				<td>£{{item.price}}</td>
				<td>{{item.unit}}</td>
				<td>{{item.quantity}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
	<br>
	<br>
    <h3>Total Cost: £{{ price.total }}</h3>
    <br>
    <h3>Transaction ID: {{ transaction.id }}</h3>
    
	{% else %}
	<br>
		<h4>No items in basket</h4>
		<br>
	<br>
		<a class="greenButton" href="/add-item"><i class="fas fa-plus-circle" style="margin-right: 5px;"></i>Add Items </a> 
	{% endif %}
</div>

{% endblock %}