{% extends "home.html" %}

{% block content %}
<div>
    <div class="container text-center">
        <br>
            <h3>Return Items</h3>
        <hr>
        <br>
        <button id="addReturnRow" class="greenButton addButton" onclick="addReturnRow()"><i class="fas fa-plus-circle" style="margin-right: 5px;"></i>Add Item </button> 

        <form id="add-item-form" method="post" action="">
            <div id="returnTableContainer" class="text-center"></div>
            <br>
            <br>

            <button class="editButton" onclick="submit()" href="/basket">Confirm Items<i class="fas fa-long-arrow-alt-right" style="margin-left: 5px;"></i></button>
        </form>
    </div>

    <script type="text/javascript">
        createReturnTable();
    </script>
</div>
{% endblock %}