{% extends "home.html" %}
{% block content %}
<div class="container text-center">
    <h3> Test </h3>
    <div id="test">
<button class="editButton" onclick="myFunction()">Confirm Items<i class="fas fa-long-arrow-alt-right" style="margin-left: 5px;"></i></button>
    </div>
</div>

<script>
function scanItem(){
    Quagga.init({
    inputStream : {
      name : "Live",
      type : "LiveStream",
      target: document.querySelector('#test')    // Or '#yourElement' (optional)
    },
    decoder : {
      readers : ['code_128_reader']
    }
  }, function(err) {
      if (err) {
          console.log(err);
          return
      }
      console.log("Initialization finished. Ready to start");
      Quagga.start();
  });
}
  Quagga.onDetected(function (data){
        var result = data;
        code = result['codeResult']['code'];
        Quagga.stop();
        addRow(code);
  });
</script>
{% endblock %}
