{% extends "home.html" %}

{% block content %}
<div class="container">
  <br>
  {% if '/admin/billing/info/' in request.url_rule.rule %}
    <a class="editButton" href="/admin/billing/info/{{year}}/{{month}}/{{department}}"><i class="fas fa-chevron-circle-left" style="margin-right: 5px;"></i> Back</a> 
  {% else %}
  <a class="editButton" href="/user/account"><i class="fas fa-chevron-circle-left" style="margin-right: 5px;"></i> Back</a> 
  {% endif %}
    <br>
   <div class="text-center">
       <h3>Info for {{type}} {{transaction_id}}</h3>
        <hr>
        <div class="table-responsive">
          <table class="table">
            <thread>
              <tr>
                <th>Item Code</th>
                <th>Quantity</th>
                <th>Unit Name</th>
              </tr>
            </thread>
            <tbody id="BasketData2">
              {% for info in transaction_info %}
                <tr>
                  <td>{{info.get_item_code()}}</td>
                  <td>{{info.get_quantity()}}</td>
                  <td>{{info.get_unit_name()}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
   </div>
</div>
{% endblock %}
