{% extends "home.html" %}

{% block content %}
<div class="container">
	<br>
	<a class="editButton" href="/admin/billing/info/{{year}}/{{month}}"><i class="fas fa-chevron-circle-left" style="margin-right: 5px;"></i> Back</a> 
	<br>
    <div class="text-center">
        <br>
	    <h3>{{transaction_title}}</h3>
	    <hr>
        <div class="table-responsive">
	    <table class="table">
            <thread>
                <tr>
                    <th>Transaction ID</th>
                    <th>Email</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thread>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{transaction.get_transaction_id()}}</td>
                        <td>{{transaction.get_user_id()}}</td>
                        <td>£{{transaction.get_price()}}</td>
                        <td>{{transaction.get_transaction_date()}}</td>
                        <td>
						    <form method="GET" action="/admin/billing/info/{{year}}/{{month}}/{{department}}/{{transaction.get_transaction_id()}}">
                    		    <button type="submit" class="adminButton"><i class="fas fa-search"></i> Open Order</button>
                    	    </form>
					    </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
       <br>
       <br>
	    <h3>{{refunds_title}}</h3>
	    <hr>
        <div class="table-responsive">
	    <table class="table">
            <thread>
                <tr>
                    <th>Transaction ID</th>
                    <th>Email</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thread>
            <tbody>
                {% for refund in refunds %}
                    <tr>
                        <td>{{refund.get_transaction_id()}}</td>
                        <td>{{refund.get_user_id()}}</td>
                        <td>£{{refund.get_price()}}</td>
                        <td>{{refund.get_transaction_date()}}</td>
                        <td>
						    <form method="GET" action="/admin/billing/info/{{year}}/{{month}}/{{department}}/{{refund.get_transaction_id()}}">
                    		    <button type="submit" class="adminButton"><i class="fas fa-search"></i> Open Refund</button>
                    	    </form>
					    </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}