<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>View Basket</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="img/logo.png">
</head>
<body>

<!-- collapsable nav bar with icon -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="addItemToBasket.html"><img src="img/logo.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="addItemToBasket.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="adminArea.html">Admin Area</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="viewBasket.html">View Basket</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="returnItems.html">Return Item</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="loginOrRegisterAccount.html">Logout</a>
			</li>
		</ul>
	</div>
	</div>
</nav>

<body>
<div class="container">
	<h2>Your Basket</h2>
	<br>
	<h4><ul>Your Credentials</ul></h4>

  </div>


  <style>
	table{
	  border-collapse: collapse;
	  width: 50%;
	  margin: auto;
	}
	td, th{
		border: 3px solid lightgrey;
		padding: 10px;
	}
	th{
		font-family: Arial, Verdana, sans-serif;
		font-weight: bold;
		text-shadow: 3px ;
	}
	.cost{
		width:20%;
		outline-width: 1px black;
	}

	tr:nth-child(odd){
		background-color: whitesmoke;
	}
	tr:hover{
	  background-color: pink;
		color: white;
	}
	</style>


<script type="text/javascript" src="{{ url_for('static', filename='viewBasket.js')}}"></script>


  <table>
	  <thread>
		  <tr>
			<th>Full Name</th>
			<th>Department</th>
			<th>Id</th>
		  </tr>
	  </thread>
	  <tbody id="idData"></tbody>
  </table>

  <div class="container">
  <h4><ul>Products in Basket</ul></h4>
  </div>

  <table>
	<thread>
		<tr>
		  <th>ProductId</th>
		  <th>ProductName</th>
		  <th>Price Per Item</th>
		  <th>Quantity</th>
		  <th>Action</th>
		</tr>
	</thread>
	<tbody id="BasketData2"></tbody>
	<tbody id="tbody"></tbody>
</table>

<div class="container">
	<h4><ul>Total Cost</ul></h4>
	</div>

<table>
	<tbody id="Cost"></tbody>
</table>

<div class="container"><ul>
<input type="button" id="addButton" value="Complete Checkout" onclick="submit()" />
</ul></div>


<p>automatically gets the total price of basket</p>
<p>could you make a nice box around the total cost</p>

<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
  alert("I WANT TO BIND");
}
</script>



</body>
</html>