{% extends "home.html" %}

{% block content %}
<div>
    <div class="container text-center">
        <br>
            <h2>View & edit stock</h2>
        <br>
        <br>

        <input type="text" placeholder="Search for items...">
        <br>
        <br>
        <a href="/addItem" id="addItem" class="addButton"> Add Product </a>
        <br>
        <br>
        <table>
            <thread>
                <tr>
                  <th>Product ID</th>
                  <th>Product Name</th>
                  <th>Quantity</th> 
                  <th>Risk Item</th>
                </tr>
            </thread>
            <tbody id="tbody"></tbody>
        </table>
</div>


<script>
    window.onload = () => {
   display();
   //addRow();
   //add();
};

function getQueryString() {
  var result = {}, queryString = location.search.slice(1),
      re = /([^&=]+)=([^&]*)/g, m;

  while (m = re.exec(queryString)) {
    result[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
  }
  return result;
}

var itemId = getQueryString()["productId"];
var itemName = getQueryString()["productName"];
var quantity = getQueryString()["quantity"];
var riskItem = getQueryString()["riskItem"];

function addRow() {
        var table = document.getElementById('tbody');

        var rowCnt = table.rows.length;
        var tr = table.insertRow(rowCnt);
        tr = table.insertRow(rowCnt);

        for (var c = 0; c < 4; c++) {
            var td = document.createElement('td');
            td = tr.insertCell(c);

            if (c == 0 ) { 
                td.appendChild(itemId);
            }
            if (c == 1 ) { 
                td.appendChild(itemName);    
            }
            if (c == 2 ) { 
                td.appendChild(quantity);    
            }
            if (c == 3 ) { 
                td.appendChild(riskItem);    
        }
    };


var length = StockData.length;

function add(length) {
    var htmltext = "<tr id='table"+length+"'><td>"
                +itemId+
                "</td><td>"
                +itemName+
                "</td><td>"
                +quantity+
                "</td><td>"
                +riskItem+
                "</td><td><button onclick='edit("
                +length+")'>Edit</button><button onclick='remove("
                +length+")'>Remove</button></td></tr>";
            document.getElementById("tbody").innerHTML = htmltext;
}

var StockData = [
	  { "ProductId": "69-69", "ProductName": "200ml TestTubes", "Quantity": 3, "RiskItem": "No" },
	  { "ProductId": "8==D", "ProductName": "deez nuts", "Quantity": 2, "RiskItem": "Yes" },
	  { "ProductId": "KetSik1", "ProductName": "half a carrot", "Quantity": 1, "RiskItem": "No" }, 
  ];
  
  function display() {
            var length = StockData.length;
            var htmltext = "";

            for (var i = 0; i < length; i++) {
                htmltext += "<tr id='table"+i+"'><td>"
                +StockData[i].ProductId+
                "</td><td>"
                +StockData[i].ProductName+
                "</td><td>"
                +StockData[i].Quantity+
                "</td><td>"
                +StockData[i].RiskItem+
                "</td><td><button onclick='edit("+i+")'>Edit</button><button onclick='remove("+i+")'>Remove</button></td></tr>";
            }
            document.getElementById("tbody").innerHTML = htmltext;
        }


        function edit(indice) {
            var htmltext = "<tr><td><input id='inputProductId"+indice+"' type='text' value='"
                +StockData[indice].ProductId+

                "'></td><td><input id='inputProductName"+indice+"' type='text' value='"
                +StockData[indice].ProductName+

                "'></td><td><input id='inputQuantity"+indice+"' type='number' value='"
                +StockData[indice].Quantity+

                "'></td><td><input id='inputRiskItem"+indice+"' type='text' value='"
                +StockData[indice].RiskItem+

                "'></td><td><button onclick='save("+indice+")'>Save</button><button onclick='remove("+indice+")'>Remove</button></td></tr>";
            document.getElementById("table"+indice).innerHTML = htmltext;
        }

        function save(indice) {
            var values = new Array();

            //BasketData2[indice].ProductId = document.getElementById("inputProductId"+indice).value;
            values.push("'" + StockData[indice].ProductId[0].value + "'");

            StockData[indice].ProductName = document.getElementById("inputProductName"+indice).value;
            values.push("'" + StockData[indice].ProductName + "'");

            StockData[indice].Quantity = document.getElementById("inputQuantity"+indice).value;
            values.push("'" + StockData.Quantity + "'");
            
            StockData[indice].Price = document.getElementById("inputRiskItem"+indice).value;
            values.push("'" + StockData.RiskItem + "'");

            var htmltext = "<tr id='table"+indice+"'><td>"
                +StockData[indice].ProductId+
                "</td><td>"
                +StockData[indice].ProductName+
                "</td><td>"
                +StockData[indice].Quantity+
                "</td><td>"
                +StockData[indice].RiskItem+
                "</td><td><button onclick='edit("
                +indice+")'>Edit</button><button onclick='remove("
                +indice+")'>Remove</button></td></tr>";
            document.getElementById("table"+indice).innerHTML = htmltext;
        }
}


        function remove(indice) {
            StockData.splice(indice, 1);
            display();
        }
  
  </script>
{% endblock %}