{% extends "home.html" %}

{% block content %}
<div>
    <div class="container text-center">
        <br>
            <h2>View & edit stock</h2>
        <br>
        <br>

        <input type="text" placeholder="Search for items...">
        <br>
        <br>
        <table>
            <thread>
                <tr>
                  <th>Product Code</th>
                  <th>Product Name</th>
                  <th>Quantity</th> 
                  <th>Risk Item</th>
                </tr>
            </thread>
            <tbody id="BasketData"></tbody>
        </table>

    
</div>
{% endblock %}